<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('slider6.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
     


    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
    
           <!-- kalp iconu ekleme -->
           <a class="navbar-brand" href="ön_yüz.html ">
            <i class="fa-solid fa-heart" ></i>
          </a>
    
           <!-- telefon modundaki açılır menü -->
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
    
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="ön_yüz.html" style="color:blanchedalmond">Anasayfa</a>
              </li>
              
    
              <li class="nav-item">
                <a class="nav-link" href="hakkımızda.html" style="color:blanchedalmond">Hakkımızda</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="makine.html" style="color:blanchedalmond">Makine</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:blanchedalmond">İletişim</a>
              </li>
          
            </ul>
            
          </div>
        </div>
      </nav>
    

      


    <div class="container mb-5">
        <h3 class="text-center mt-5">Kalp Krizi Belirtisi Ve Tanısı</h3>
      
   
        
  <h4 style="text-align: justify;">
    Kalp krizi anında belirtiler değişiklik gösterebilir, öyle ki bazen hiç belirti olmaksızın kalp krizi geçirilebilir. Belirti görüldüğünde ise hafif ya da şiddetli göğüs ağrısı, nefes darlığı, çene, boyun, sırt, kol veya omuzda ağrı, mide bulantısı, sersemlik hissi veya anormal şekilde yorgunluk kalp krizi belirtisi olarak hissedilebilir.

    Yaygın kalp krizi belirtileri şunlardır:
    
    -Kalp krizinin en yaygın belirtisi göğüste ağrı, baskı ve sıkışmadır. 
    <Br>
    -Nefes almayı güçleştiren nefes darlığı
    <Br>
    -Kalp krizi anında çene, sırt, boyun ve mide gibi vücut bölgelerine yayılan ağrı
    <Br>
    -Sol kolda hissedilen ağrı ve uyuşma
    <Br>
    -Midede yanma ve hazımsızlık
    <Br>
    -Mide bulantısı ve baş dönmesi
    <Br>
    -Soğuk terleme
    <Br>
    -Aşırı yorgun hissetme


    Kalp Krizi Nasıl Teşhis Edilir?
    <Br>
Kalp krizi tanısının hızlı konulması ve müdahalenin doğru yapılması hayati önem taşır. Tedavi süreci ambulans personeli vasıtasıyla hastane yolunda başlar, erken müdahale kalp kasının zarar görmesini önler. Hastanın öncelikle kan basıncı, ritim, solunum gibi hayati önem arz eden sorunlarına müdahale edilir. Ardından kesin tanı konulması için gerekli testlere başlanır .

Hastaneye ulaşıldığında doktor kalp krizi geçirilip geçirilmediğini teşhis etmek için bazı testler yapacaktır. Bu testlerle kalpteki hasar miktarını ve uygulanacak en iyi tedavi yöntemini de ölçecektir.

Söz konusu testler şunları içerir:

Elektrokardiyogram (EKG): Göğüs ağrısı ya da kalp krizi şüphesi olan her hastaya başvuru anında çekilmeli ve sonrasında tekrarlanmalıdır
Kan testleri: Özellikle troponin gibi kalp hasarını gösteren testler,  EKG de hemen anjiyografiye alınmayı gerektirecek bulgusu olmayan hastalarda tanı konulmasını sağlar. Testler hem tanıda hem de kalp hasarının büyüklüğünün saptanmasında yardımcı olur.
Koroner anjiyografi (Kalp kateterizasyonu): Tıkalı damarı göstermek ve müdahale etmek için kesin tanı yöntemidir. Hastanın uygunluğuna göre bilekten ya da kasıktan yapılır.
Anjiyogram: Bu test aracılığıyla kan akışının çok az olduğu veya hiç olmadığı alanlar belirlenir.
Kalp bilgisayarlı tomografi taraması: Kalbin oldukça ayrıntılı bir taraması gerçekleştirilir.
Kalp MR'I: Kalp MR'ıyla birlikte kalbin iç görüntüsü elde edilir.</h4>
</div>
    

    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>