<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('slider6.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
     


    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
    
           <!-- kalp iconu ekleme -->
           <a class="navbar-brand" href="ön_yüz.html ">
            <i class="fa-solid fa-heart" ></i>
          </a>
    
           <!-- telefon modundaki açılır menü -->
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
    
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="ön_yüz.html" style="color:blanchedalmond">Anasayfa</a>
              </li>
              
    
              <li class="nav-item">
                <a class="nav-link" href="hakkımızda.html" style="color:blanchedalmond">Hakkımızda</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="makine.html" style="color:blanchedalmond">Makine</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:blanchedalmond">İletişim</a>
              </li>
          
            </ul>
            
          </div>
        </div>
      </nav>
    

      


    <div class="container mb-5">
        <h3 class="text-center mt-5">Kalp Krizi Nedenleri</h3>
      
       
       
        
  <h4 style="text-align: justify;">
    Kalp krizinin nedenleri nelerdir?
Kalp krizi, bir veya birden fazla koroner damar denilen kalp damarlarının tıkanması sonucu meydana gelmektedir. Koroner damarlar, yıllar içinde kanda dolaşan kolesterol ve yağların damar duvarında birikmesi sonucunda daralmaya başlar ve damar sertliği (ateroskleroz) oluşur. Bu durum da kalp krizine neden olabilir.

Koroner damar hastalığının oluşumuna neden olan risk faktörleri, aynı zamanda kalp krizinin de risk faktörleridir.

Kalp krizinin risk faktörleri şunlardır:
 <Br>
-Yaş
<Br>
-Ailede kalp hastalığı (Erkek akrabalarda 55, kadın akrabalarda 65 yaşından önce kalp hastalığı öyküsü)
<Br>
-Yüksek kolesterol ve trigliserit seviyesi
<Br>
-Hipertansiyon
<Br>
-Şeker hastalığı
<Br>
-Sigara kullanımı
<Br>
-Fiziksel aktivite azlığı
<Br>
-Obezite
<Br>
-Stres

</h4>

</div>
    

    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>