<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-image: url('slider6.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
     


    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
    
           <!-- kalp iconu ekleme -->
           <a class="navbar-brand" href="ön_yüz.html ">
            <i class="fa-solid fa-heart" ></i>
          </a>
    
           <!-- telefon modundaki açılır menü -->
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
    
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="ön_yüz.html" style="color:blanchedalmond">Anasayfa</a>
              </li>
              
    
              <li class="nav-item">
                <a class="nav-link" href="hakkımızda.html" style="color:blanchedalmond">Hakkımızda</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="makine.html" style="color:blanchedalmond">Makine</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:blanchedalmond">İletişim</a>
              </li>
          
            </ul>
            
          </div>
        </div>
      </nav>
    

      


    <div class="container mb-5">
        <h3 class="text-center mt-5">Kalp Krizi Tedavi Yöntemleri</h3>
      
        
        
  <h4 style="text-align: justify;">
   

    Kalp Krizi Tedavi Yöntemleri Nelerdir?
    <br>
Kalp krizi şüphesiyle acile başvuran her hasta gerekli acil müdahalelerin uygulanmasının ardından kardiyoloji doktoruna danışılmalıdır. Doktor hastanın durumuna göre takip edebilir, kalp damarlarını kontrol etmek amacıyla anjiyo yapabilir. Anjiyografi sonucuna göre ilaç tedavisi, stent uygulaması ya da cerrahi işlem gerekebilir. Kalp krizinde tedavi süreci ne kadar hızlı olursa kalp kası o kadar az hasar görür.

Kalp krizinde başlıca tedavi vakit kaybedilmeden tıkalı damarın açılmasıdır. Bir yandan ritim bozuklukları, kalp durması gibi hayati komplikasyonlarla mücadele edilirken, diğer yandan tıkanmış damar bölgesinde tekrar kan akımını sağlamak için gereken tedaviye başlanmalıdır.

<br>  <br>
Kalp krizi tedavisinde yaygın prosedürler şunları içerir:
<br>


Balon- Anjiyoplasti: Anjiyoplasti ile bir balon kullanarak veya plak birikimi kaldırılarak tıkalı arter açılır.
<br>
Stent: Koroner stent yerleştirme işlemi genellikle damarlarda balon anjiyoplasti ile beraber uygulanan damarda tam açıklık sağlanması ve yeniden tıkanmaması için kullanılır.
<br>
Bypass ameliyatı: Vücudun kol, bacak gibi diğer bölümlerinden alınan damarlar, tıkalı kalp atardamarlarına tekrar kan akımını sağlamak için kullanılır.
<br>
Kalp kapağı ameliyatı: Kalp damarlarına cerrahi müdahale kararı verilen hastalarda ek olarak kapak hastalığı da varsa kapak tamiri ya da değişimi aynı anda yapılır.
<br>
Kalp pili: Kalp pili derinin altında implante bir cihazdır. Kalbin normal bir ritmi sürdürmesine yardımcı olmak için tasarlanmıştır. Bazı kalp krizi geçiren hastalarda kısa ve ya uzun dönemde farklı pillere gereksinim duyulabilir.
<br>
Kalp nakli: Kalp nakli, kalp krizinin kalbin çoğunda kalıcı doku ölümüne neden olduğu ağır vakalarda düşünülmesi gereken ileri bir tedavi yöntemidir.
<br>  <br>
İlaçla tedavi ise şunları içerebilir:
<br>  <br>


Antikoagülan ilaçları
<br>
Bu ilaçlar aynı zamanda “kan sulandırıcı” olarak da bilinir. Pıhtıların oluşmasını önlemek ve mevcut pıhtıların büyümesini engellemek için kanın pıhtılaşma etkisini azaltır.
<br>
Antiplatelet ilaçlar
<br>
Bu ilaçlar yeni kan pıhtılarının oluşmasını ve mevcut kan pıhtılarının büyümesini durdurmak için diğer ilaçlarla birlikte kullanılabilir. Daha önce kalp krizi, anjina geçirenlere,  stent ve bypass ameliyatı geçirenlere de genellikle ömür boyu antiplatelet ilaçlar verilir.
<br>

Beta blokerler
<br>
Bu ilaçlar kalp kasın gevşetmeye, kalp atışlarını yavaşlatmaya ve kan basıncını düşürmeye yardımcı olur. Beta blokerlerin kullanımıyla kalpteki yük dolayısıyla kalp krizi riski azalır. Aritmi (anormal kalp ritmi) veya anjina için de beta bloker reçete edilebilir.
<br>
Kan basıncı ilaçları
<br>
Anjiyotensin dönüştürücü enzim (ACE) inhibitörleri, kalpteki baskıyı azaltmak için kan damarlarını genişletir. Kan basıncını düşürmek, kalbin daha iyi çalışmasını sağlamak ve kalp krizinden sonra hayatta kalma şansını artırmak için kullanılırlar. Anjiyotensin II reseptör blokerleri (ARB'ler), ACE inhibitörleri gibi çalışır. ACE inhibitörleri almaktan kaynaklanan kalıcı öksürük gibi yan etkiler varsa bunlar reçete edilebilir.

<br>
Göğüs ağrısı kesiciler (Nitratlar)
<br>
Bu ilaçlar kan damarlarını genişleterek kalbe giden kan akışını artırır, göğüs ağrısını veya anjinayı önler veya tedavi eder.
<br>
Statinler
<br>
Bu ilaçlar, kolesterolü düşürmeye yardımcı olarak kalp krizi riskinizi azaltır. Kalp krizi geçirenler için de kolesterol seviyesi normal sınırlar içinde olsa bile statinler kalp krizi geçiren kişilere yine de verilebilir.
<br>
Trombolitikler
<br>
Bu "pıhtı kırıcı" ilaçlar, atardamarları daraltabilen veya tıkayan kan pıhtılarını çözer. Damar içine enjeksiyonla verilirler.
</h4>

</div>
    

    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>