<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: brown;">
     


    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
    
           <!-- kalp iconu ekleme -->
           <a class="navbar-brand" href="ön_yüz.html ">
            <i class="fa-solid fa-heart" ></i>
          </a>
    
           <!-- telefon modundaki açılır menü -->
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
         
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
    
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="ön_yüz.html" style="color:blanchedalmond">Anasayfa</a>
              </li>
              
    
              <li class="nav-item">
                <a class="nav-link" href="hakkımızda.html" style="color:blanchedalmond">Hakkımızda</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" href="makine.html" style="color:blanchedalmond">Makine</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" href="#" style="color:blanchedalmond">İletişim</a>
              </li>
          
            </ul>
            
          </div>
        </div>
      </nav>
    

      


    <div class="container mb-5">
        <h3 class="text-center mt-5">MAKİNE ÖĞRENMESİ TABANLI KALP KRİZİ ANALİZ VE TAHMİNİ</h3>
      
   
        
  <h4 style="text-align: justify;">
    
    Bu çalışma, kullanıcıların kişisel sağlık verilerini kullanarak kalp krizi riskini tahmin edebilmeleri için geliştirilen makine öğrenmesi modelinin başarılı olduğunu göstermektedir. Model, gerçekleştirdiği tahminlerle bireylerin kalp krizi risk düzeylerini belirlemede etkili bir araç haline gelmiştir. Sonuçlar, kullanıcıların kişisel sağlık bilgileriyle daha bilinçli ve önceden tedbir alabilen bir konuma gelmelerine katkı sağlayarak sağlık konusunda farkındalık yaratmayı hedefleyen projenin başarılı olduğunu göstermektedir.
<br>
    Proje kapsamında elde edilen sonuçlar ışığında, gelecekteki geliştirmeler ve öneriler de değerlendirilebilir. Modelin daha geniş bir veri kümesi üzerinde eğitilmesi, daha spesifik ve kişisel tahminlerin yapılmasına olanak tanıyabilir. Ayrıca, kullanıcı dostu bir arayüz ve daha fazla interaktif özellik eklenerek, kullanıcıların sonuçları daha iyi anlamaları ve sağlık durumlarına dair daha fazla bilgi edinmeleri sağlanabilir. Bu şekilde, proje daha etkili bir sağlık takip aracı haline gelebilir ve kullanıcıların sağlık bilincini artırmaya yönelik daha kapsamlı bir rol üstlenebilir.
</h4>
</div>
    

    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>